.login{
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border:solid black 2px;
    border-radius: 10px;
    border-color:black;
}

.login h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

#tabLogin{
    margin-left: 30%;
    font-size: 20px;
}

#tabLogin #emailAuth,#senhaAuth{
    text-align: center;
    width:100%;
    border:1px solid black;
    border-radius: 5px;
}

.login #botao{
    width:65px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
    background-color: #0084ff;
    color: white;
}
.login #botao:hover{
    cursor: pointer;
}