.gerenciamento #pesquisa{
    text-align: center;
    border:1px solid #389fff;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
    font-size: large; 
}
.gerenciamento #botaoPesquisar{
    text-align: center;
    border:1px solid black;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
    font-size: large;
    text-align: center;
    background-color: #0084ff;
    color: white;
}
.gerenciamento #botaoCadastrarLivro{
    text-align: center;
    border:1px solid black;
    border-radius: 5px;
    margin: 20px 70% 0px 10px;
    font-size: large;
    text-align: center;
    background-color: #0084ff;
    color: white;
}

.table{
    margin-top: 20px;
    width: 97%;
    border-collapse: collapse;
    margin-left: 2%;
    margin-right: 2%;
    
}

.titulos td, th{
    padding: 20px;
    border:1px solid #0084ff;
}
