.button {
   text-align: center;
    width: auto;
    background-color: #0084ff;
    color: white;
}

.button:hover{
    text-align: center;
    width: auto;
    background-color: white;
    color: #0084ff;
    cursor: pointer;
}

.modal-background {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-card-edit-func {
  margin: 0 auto;
  display: block;
  margin-top: 250px;
  width: 30%;
  height: 33%;
  background-color: #b3c2cf;
  border-radius: 5px;
}

#btnEditarFunc{
  margin-right: 10px;
}